#conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.element
{
	width:100%;
	margin: 10px;
}
.element table{
	width: 100%;
	max-width: 700px;
}
.used
{
	background-color: red;
}
.free
{
	background-color: #ADFF2F;
}

thead.thead-inverse{
	text-align: center;
	background-color: #373a3c;
	color: white;
}
table{
	margin: auto; 
	margin-bottom: 20px;
}
header{
	text-align:center;
}
input{
	width: 50%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
h2{
	text-align: center;
}
.data{
	text-align: right;
	min-width: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.center{
	text-align: center;
}
table{
	width: 100%;
}

.state{
	text-align: center;
}
.won{
	background-color: #58FA58;
}
.lost{
	background-color: #FA5858;
}
.Open{
	background-color: #FE9A2E;
}
.Initialized{
	background-color: grey;
}
.Market{
	background-color: #58FAF4;
}
.Predicted{
	background-color: #ffff80;
}



.Passed{
	background-color: #58FA58;
}
.Pending{
	background-color: #FE9A2E;
}

th{
	padding: 5px;
	text-align: center;
}
td{
	padding-left: 5px;
	padding-right: 5px;
}